@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  width: 100%;
  margin: 0%;
  padding: 0%;
}

:root {
  background-color: black;
  color: white;
}

@layer utilities {
  .navbar {
    @apply flex text-white font-medium text-lg p-2 gap-x-2;
  }
  .about {
    @apply text-black font-semibold text-center mx-auto my-24;
  }
}
